footer p {
    padding-top: 10px;
    text-align: center;
    color: #7d390c;
    margin: 0;
    font-weight: 700;
    height: 40px;;
    font-size: 10px;
    background: rgba(0,0,0,0.3);
    box-shadow: 0 6px 17px -14px RGBA(0 0 0);
}